DATABASE_URL="postgresql://postgres.rcsurqillaykjdtmzfed:KcFzGRBNDNOTleSZ@aws-1-ca-central-1.pooler.supabase.com:5432/postgres"

SUPABASE_URL=https://rcsurqillaykjdtmzfed.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJjc3VycWlsbGF5a2pkdG16ZmVkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk0MTcwOTksImV4cCI6MjA3NDk5MzA5OX0.vJmII4ijQKdw-rAcEa8e3862H2W3_gKxap_KRSv-4iY
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJjc3VycWlsbGF5a2pkdG16ZmVkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1OTQxNzA5OSwiZXhwIjoyMDc0OTkzMDk5fQ.5ge1Do7UBAyPkqlVG_pA8EtVGo6nZGU6Y3F_kB3-FoA