/*container */
.has-dropdown {
    display: inline-block;
    position: relative;
    cursor: pointer;
  }
  
  /*dropdown panel (hidden) */
  .has-dropdown .dropdown {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    min-width: 150px;
    background: #E5E7EB;
    border: 1px solid #cacaca;
    box-shadow: 0 9px 18px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    padding: 8px 0;
    z-index: 1000;
  
    /*animation*/
    opacity: 0;
    visibility: hidden;
    transform: translate(-50%, 10px); /* slightly lower to slide up */
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
  }
  
  /*show on hover*/
  .has-dropdown:hover .dropdown {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, 0); /* slide into place */
  }
  
  /*links inside dropdown */
  .dropdown-link {
    display: block;
    width: 100%;
    padding: 10px 14px;
    text-decoration: none;
    color: var(--color-secondary);
    font-size: 14px;
    border-radius: 0;
    border: none;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
  }

  .dropdown-link:hover {
    background: #dfdfdf;
    transition: all 0.4s ease;
  }
    /*align top row */
.navbar-header > div {
    align-items: center;
  }
  
    /*logo */
  .nav-logo {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
  }
  
  /*login/signup dropdown --> left */
  .user-dropdown .dropdown {
    left: auto;         
    right: -50px;        
    top: -1px;
    transform: translateY(10px);
  }
  .user-dropdown.has-dropdown:hover .dropdown {
    transform: translateY(0);
  }
  